<style>
body {
  background-image: url('/bdonr_background_grey.jpg'); </style>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card card-signin">
                        <div class="card-header">
                            <h3 class="mb-0"><%= Building.find(params[:building_id]).building_name %> <%= Room.find(params[:room_id]).room_number %> 세입자 추가하기</h3>
                        </div>
                        <div class="card-body">
                            <form action="/tenants/create" method="POST" clsss="rounded-pill">
                                <div class="form-group">
                                    <label for="uname1">세입자 이름</label>
                                     <input type="text" name="tenant_name" class="form-control form-control-lg rounded-0">
                                </div>
                                <div class="form-group">
                                    <label for="uname1">성별</label>
                                    <input type="radio" name="tenant_gender" value="남성" checked="checked">남성  <input type="radio" name="tenant_gender" value="여성">여성
                                </div>
                                <div class="form-group">
                                    <label for="uname1">세입자 전화번호</label>
                                     <input type="string" name="tenant_phone" class="form-control form-control-lg rounded-0">
                                </div>
                                <div class="form-group">
                                    <label for="uname1">계약 기간</label>
                                     <input type="text" name="tenant_period" class="form-control form-control-lg rounded-0">
                                </div>
                                <div class="form-group">
                                    <label for="uname1">입주일</label>
                                     <input type="date" name="tenant_startdate" class="form-control form-control-lg rounded-0">
                                </div>
                                <div class="form-group">
                                    <label for="uname1">만료일</label>
                                      <input type="date" name="tenant_enddate" class="form-control form-control-lg rounded-0">
                                </div>
                                <div class="form-group">
                                    <label for="uname1">보증금(원)</label>
                                      <input type="integer" name="tenant_deposit" class="form-control form-control-lg rounded-0">
                                </div>
                                <div class="form-group">
                                    <label for="uname1">월세(원)</label>
                                     <input type="integer" name="tenant_rentfee" class="form-control form-control-lg rounded-0">
                                </div>
                                <div class="form-group">
                                    <label for="uname1">관리비(원)</label>
                                     <input type="integer" name="tenant_mtnfee" class="form-control form-control-lg rounded-0">
                                </div>
                                <div class="form-group">
                                 <textarea type="text" name="tenant_memo" class="form-control form-control-lg rounded-0">중요한 정보를 메모하세요!</textarea>
                                 </div>
    <br>
    <input type="hidden" value="<%= @building_id %>" name="building_id">
    <input type="hidden" value="<%= @room_id %>" name="room_id">
                <button type="submit" class="btn btn-success btn-lg float-right rounded-pill">세입자 등록하기</button>