<div style="padding: 40px 16px; text-align: center;">
  <h1>세입자 정보를 한 눈에 보고 간편하게 관리하세요.</h1>
</div>

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>


    <!-- Room Card 시작 -->
    
  <!-- 2층 주민 -->
    
<div class="row">
  <div class="column">
    <div class="room_card">
        <span class="room_number">201호</span>
        <br>김민국
        <br>300 / 35
    </div>
  </div>
  <div class="column">
    <div class="room_card">
        <span class="room_number">202호</span>
        <br>윤정
        <br>300 / 30
    </div>
  </div>
  <div class="column">
    <div class="room_card">
        <span class="room_number">203호</span>
        <br>백한얼
        <br>300 / 33
    </div>
  </div>
  <div class="column">
    <div class="room_card">
        <span class="room_number">204호</span>
        <br>하윤택
        <br>200 / 45
    </div>
  </div>
  <div class="column">
    <div class="room_card">
        <span class="room_number">205호</span>
        <br>송민제
        <br>250 / 30
    </div>
  </div>
  <div class="column">
    <div class="room_card">
        <span class="room_number">206호</span>
        <br>김용우
        <br>300 / 40
    </div>
  </div>
</div>

  <!-- 1층 주민 -->

<div class="row">
  <div class="column">
    <div class="room_card">
        <span class="room_number">101호</span>
        <br>유재호
        <br>200 / 35
    </div>
  </div>
  <div class="column">
    <div class="room_card">
        <span class="room_number">102호</span>
        <br>윤혁준
        <br>300 / 32
    </div>
  </div>
  <div class="column">
    <div class="room_card">
        <span class="room_number">103호</span>
        <br>권현오
        <br>300 / 35
    </div>
  </div>
  <div class="column">
    <div class="room_card">
        <span class="room_number">104호</span>
        <br>조예지
        <br>300 / 40
    </div>
  </div>
  <div class="column">
    <div class="room_card">
        <span class="room_number">105호</span>
        <br>최성수
        <br>250 / 30
    </div>
  </div>
  <div class="column">
    <div class="room_card">
        <span class="room_number">106호</span>
        <br>김이서
        <br>300 / 30
    </div>
  </div>
</div>