<h1><%= @building.building_name %></h1>

<!-- 등록된 방 없으면 문장 띄울까 계획 중 -->

<% current_user.buildings.find(@building_id).rooms.each do |room| %>
    <%= room.room_number %>
<% end %>
<br/>

<% if user_signed_in? %>
    <a href="/buildings/show/<%= @building.id %>/rooms/new">새로운 방 추가하기</a>
<% else %>
<% end %>
<hr>
<a href="<%= buildings_buildings_index_path %>">건물 관리로 돌아가기</a>