<h1>방 추가하기</h1>

<form action="/rooms/create" method="POST">
    방 번호 : <input type="text" name="room_number">
    <input type="hidden" value="<%= @building_id %>" name="building_id">
    <br>
    <button type="submit">방 추가하기</button>
</form>